.column {
  width: 18%;
  float: left;
  background-color: powderblue;
  margin: 3px;
  border: 3px solid blue;
  padding: 3px;

}

img {
  width: 200px;
  height: 200px;
}

body {
  font-style: italic;
}
